{% extends "main.html" %}

{% block contents %}
    <div class="container" style="margin-top: 8em">
            {% for cafe in cafes %}
                <a href="{{ url_for('board.cafe_info', cafe_id=cafe._id) }}" style="text-decoration-line: none; color: black">
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', filename='cafe_main_images/' + cafe.name + '.jpg') }}" alt="..." style="height: 150px; width: 150px;">
                            </div>
                            <div class="col" style="height: 150px;">
                                <div class="card-title" style="">
                                    <h3 style="display: inline">{{ cafe.name }}</h3>
                                </div>
                                <p class="card-text mt-5">주소: {{ cafe.address }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <div class="text-center">
                <ul class="pagination justify-content-center">
                {% if block_start - 1 > 0 %}
                    <li class="page-item"><a class="page-link" href="{{url_for('home.cafe_list', page=block_start-1, search=search, keyword=keyword)}}">[이전]</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link disabled">[이전]</a></li>
                {% endif %}

                {% for i in range(block_start, block_last + 1) %}
                    {% if i > last_page %}
                        <li class="page-item"><a class="page-link disabled">{{ i }}</a></li>
                    {% else %}
                        {% if i == page %}
                            <li class="page-item"><a class="page-link active text-warning">{{i}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="{{url_for('home.cafe_list', page=i, search=search, keyword=keyword)}}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if block_last < last_page %}
                    <li class="page-item"><a class="page-link" href="{{url_for('home.cafe_list', page=block_last + 1, search=search, keyword=keyword)}}">[다음]</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link">[다음]</a></li>
                {% endif %}
                </ul>
            </div>
        </div>

{% endblock %}